* {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, rgb(199, 232, 230), rgb(246, 243, 243)); 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0px 0px 5px rgb(56, 62, 231), 0px -5px 5px rgb(75, 168, 226);
}

.recipe-list {
    font-size: 20px;
}

:visited{
    color: violet;
}
:active{
    color:brown;
}
